<div class="user-overview mdl-grid">
    <div class="avatar">
        <img src="{{ asset(app.user.avatar) }}" />
    </div>

    <div class="information">
        <span class="username">{{ app.user.username }}</span>
    </div>
</div>