<div class="mdl-grid">
    <div class="avatar">
        <img src="{{ asset('images/avatar/placeholder-man.png') }}" />
    </div>

    <div class="user-information">
        <span class="username">{{ app.user.username }}</span>
    </div>
</div>